@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(52, 53, 65);
    color: rgb(236, 236, 241);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

.header {
    font-size: 45px;
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
}

.chatBox {
    max-width: 980px;
    width: 80%;
    top: 40px;
    height: calc(100vh - 210px);
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    transition: all .3s ease-in-out;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: all;
}

.chatBox::-webkit-scrollbar {
    width: 6px;
}

.chatBox::-webkit-scrollbar-thumb {
    background-color: rgb(236, 236, 241);
    border-radius: 100px;
}

.chatBox::-webkit-scrollbar-track {
    background-color: rgb(52, 53, 65);
}

.chatForm {
    background-color: rgb(64, 65, 79);
    border-radius: 1%;
    max-width: 980px;
    width: 80%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.chatForm input[type="text"] {
    width: 93%;
    height: 100%;
    background-color: rgb(64, 65, 79);
    border: none;
    padding-left: 5px;
    margin-right: 10px;
    font-size: 25px;
    color: rgb(236, 236, 241);
}

.chatForm button[type="submit"] {
    width: 50px;
    height: 50px;
    background-color: rgb(64, 65, 79);
    color: rgb(236, 236, 241);
    border: none;
    position: absolute;
    font-size: 25px;
}

.user-chat-item,
.duck-chat-item {
    font-size: 30px;
    display: flex;
    padding: 10px;
    width: 974px;
    word-wrap: break-word;
}

#userIcon,
#duckIcon {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.duck-chat-item {
    background-color: rgb(68, 70, 84);
}

#footer {
    color: rgba(236, 236, 241, 0.5);
    bottom: 0;
    text-align: center;
    padding-top: 10px;
}

.errorMess {
    color: red;
}